<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <b> WIBIAS FUAD</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <a class="btn btn-default navbar-btn mx-3 btn-dark" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/">Landing Page</a><a class="btn btn-default navbar-btn mr-3 btn-dark text-light" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/MyProfile">Profile Page</a><a class="btn btn-default navbar-btn mr-3 btn-dark text-light" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/TuturTegur">Tutur Tegur</a><a class="btn btn-default navbar-btn btn-light" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/schedules">Activity Page</a></div>
    </div>
  </nav>
  <body>
  
    <div class="container " style="margin-top: 100px">
    
      <h2>Schedule List</h2>
        <div class="agenda" >
            <div class="table-responsive" >
              
                <table class="table table-condensed table-bordered">
                  
                    <thead>
                        <tr style="">
                            <th>Date</th>
                            <th>Time</th>
                            <th>Category</th>
                            <th>Event</th>
                            <th>Location</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    
                    <tbody style="">
                        <!-- Single event in a single day -->
                        {% for schedule in schedules %}
                        <tr>
                            <td class="agenda-date" class="active">
                                <div class="dayofmonth">{{ schedule.date }}</div> 
                            </td>
                            <td class="agenda-time">
                                {{ schedule.time }}
                            </td>
                            <td class="agenda-category">
                                <div class="agenda-category">
                                    {{ schedule.category }}
                                </div>
                            </td>
                            <td class="agenda-events">
                                <div class="agenda-event">
                                    <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                    {{ schedule.name }}
                                </div>
                            </td>
                            <td class="agenda-locations">
                                <div class="agenda-location">
                                    {{ schedule.place }}
                                </div>
                            </td>
                            <td>
                            <form action="{% url 'schedule_delete' schedule.id %}" method="post">
                              {% csrf_token %}
                              <input type = "hidden" name="schedule_id" value="{{ schedule.id }}"/>
                              <button type="delete" class="btn btn-default" style="">Delete</button>
                            </form>
                            </td>
                          
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
    
    </div>
  </body>
  </html>
  