<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <b> WIBIAS FUAD</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <a class="btn btn-default navbar-btn mx-3 btn-dark" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/">Landing Page</a><a class="btn btn-default navbar-btn mr-3 btn-dark text-light" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/MyProfile">Profile Page</a><a class="btn btn-default navbar-btn mr-3 btn-dark text-light" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/TuturTegur">Tutur Tegur</a><a class="btn btn-default navbar-btn btn-light" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/schedules">Activity Page</a></div>
    </div>
  </nav>
  <div class="container " style="margin-top: 100px">
    <h2>Schedule</h2>
    <form action="{% url 'schedule' %}" method="post"> {% csrf_token %}
      {% for schedule in schedule_form %}
      <div class="row">
        <div class="col-12">
            {{ schedule.label_tag}}
            <div class="col-form-label-lg "> {{ schedule }} </div>
        </div>
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-default" style="color: black">Submit</button>
    </form>
  </div>

</body>
</html>
